{
    "parent": "builtin/generated",
    "textures": {
        "layer0": "%s:items/%s"
    },
    "display": {
        "thirdperson": {
            "rotation": [ 150, 190, 0 ],
            "translation": [ -1, 1, -3 ],
            "scale": [ 0.55, 0.55, 0.55 ]
        },
        "firstperson": {
            "rotation": [ -20, -100, 0 ],
            "translation": [ 0, 5, 1 ],
            "scale": [ 0.7, 1, 1 ]
        }
    }
}